[2015-04-14 08:07] jonathanheilmann opened #2 "How to set image width in mfp"
document, how to set the image width in lightbox:
Contant-Editor -> CONTENT -> "Click-enlarge Image Width [styles.content.imgtext.linkWrap.width]"

[2015-04-14 08:49] jonathanheilmann commented on #2
Also add image height in lightbox:
styles.content.imgtext.linkWrap.height
Use constants to edit this (not available in Constant-Editor)

[2015-10-16 19:38] jonathanheilmann opened #4 "Move EXT to GitHub"

[2015-10-17 14:57] jonathanheilmann opened #5 "TYPO3 CMS 7.x compatibility"
Requires TYPO3 CMS 7.5 bugfix https://forge.typo3.org/issues/70314

[2015-10-19 18:21] #5 closed, assigned to jonathanheilmann

[2015-10-19 18:53] jonathanheilmann opened #6 "Link to jweiland.net video"
https://jweiland.net/video-anleitungen/typo3/interessante-typo3-extensions/jh-magnificpopup.html

[2016-01-05 18:46] erredeco opened #8 "Make jh_magnificpopup work with fluid styled content"
It could be sufficient (I only tested the "Default" configuration, no CE, no RTE) to add to the manual that the following TS Constants must be included:

[code]

[2016-01-07 12:38] tgriessbach opened #9 "include composer.json"
Hi Jonathan,
for better TYPO3 7.6 support could you please include a composer.json?

Thanks!

[2016-01-07 15:39] jonathanheilmann commented on #8
Thanks for sharing!

Support of fluid styled content is planed for version 0.6.0

see https://forge.typo3.org/issues/73584 and https://forge.typo3.org/issues/73664

[2016-01-07 15:42] jonathanheilmann opened #10 "Remove unused TCA fields"
Fields layout,select_key,pages,recursive are not required.

[2016-01-07 15:45] #10 closed, assigned to jonathanheilmann

[2016-01-07 15:56] jonathanheilmann opened #11 "Update copyright year to 2016"

[2016-01-07 15:56] jonathanheilmann opened #12 "Implement PSR-2 standard"

[2016-01-07 16:20] #6 closed, assigned to jonathanheilmann

[2016-01-07 16:21] jonathanheilmann commented on #4
Resolved in 7135e46

[2016-01-07 16:21] #4 closed, assigned to jonathanheilmann

[2016-01-07 16:30] #11 closed, assigned to jonathanheilmann

[2016-01-07 16:38] #12 closed, assigned to jonathanheilmann

[2016-01-07 16:50] #2 closed, assigned to jonathanheilmann

[2016-05-04 08:01] jonathanheilmann opened #14 "No link to github repository"
see https://forge.typo3.org/issues/73861

[2016-05-04 08:05] jonathanheilmann opened #15 "Update Magnific Popup"
see https://github.com/dimsemenov/Magnific-Popup/tree/master/dist

[2016-05-04 08:06] jonathanheilmann opened #16 "Update jQuery"
see http://jquery.com/download/

see https://forge.typo3.org/issues/73862

[2016-05-04 08:07] jonathanheilmann opened #17 "Update namespace"
Actually, the extensions uses vendor TYPO3, but it should be Heilmann.

May this change break something?

[2016-05-04 08:44] jonathanheilmann opened #18 "bootstrap_package uses wrong selector"
selector `.img-wrap` is used, but it should be `.image-wrap`

[2016-05-04 09:23] jonathanheilmann opened #19 "Illegal offset"
Illegal offset in Classes/Hooks/class.tx_jhmagnificpopup_tcemain.php line 57, key 'data' not available

[2016-05-04 10:28] jonathanheilmann opened #20 "Add section "how to""

[2016-05-04 11:58] jonathanheilmann opened #21 "Add 0.6.0 changelog"
see commits https://github.com/jonathanheilmann/ext-jh_magnificpopup/commits/develop_v0.6.0

[2016-05-04 12:15] #14 closed, assigned to jonathanheilmann

[2016-05-04 12:15] #15 closed, assigned to jonathanheilmann

[2016-05-04 12:15] #16 closed, assigned to jonathanheilmann

[2016-05-04 12:15] #8 closed, assigned to jonathanheilmann

[2016-05-04 12:15] #9 closed, assigned to jonathanheilmann

[2016-05-04 12:15] #17 closed, assigned to jonathanheilmann

[2016-05-04 12:15] #18 closed, assigned to jonathanheilmann

[2016-05-04 12:15] #19 closed, assigned to jonathanheilmann

[2016-05-04 12:15] #20 closed, assigned to jonathanheilmann

[2016-05-04 12:15] #21 closed, assigned to jonathanheilmann

[2016-05-07 08:42] jonathanheilmann opened #23 "TYPO3 CMS 7 LTS: eID fails"
`Fatal error:  Call to undefined method TYPO3\CMS\Frontend\Controller\TypoScriptFrontendController::getCompressedTCarray() in jh_magnificpopup/Classes/Core/EidRequest.php`

solution: http://stackoverflow.com/a/32225730

[2016-05-10 08:16] #23 closed, assigned to jonathanheilmann

[2016-06-02 14:25] blueamerican commented on #8
this works with fluid_styled_content but i miss the title in the overlay. this does not work

[2016-06-02 14:33] blueamerican opened #25 "image title is not shown in overlay"
jh_magnificpopup 0.6.1,
fluid styled content
with the constants:
styles.content.textmedia.linkWrap.lightboxEnabled = 1
styles.content.textmedia.linkWrap.lightboxCssClass = magnificpopup
styles.content.textmedia.linkWrap.lightboxRelAttribute = magnificpopup[{field:uid}]
plugin.tx_jhmagnificpopup.magnificpopup.support.user = .ce-textpic

[2016-06-03 09:49] jonathanheilmann commented on #25
Thanks for reporting this issue.

I'm going to do some investigation and provide a fix soon. (Actually I've no developing environment running fluid_styled_content and I've to setup a new one...)

[2016-06-03 12:31] blueamerican commented on #25
Hi Jonathan,

yes ok.

I think the problem is, that the title tag is missing in the a href (fluid styled content).

http://s623623302.online.de/freizeit-umgebung/

I can give you an account if you want.

Viele Grüße

Markus Dübbert

 mailto:info@markusduebbert.de info@markusduebbert.de

Ziegelhüttter Weg 46  57627 Hachenburg

Tel: +49 2662 5078103

 http://www.markusduebbert.de/ www.markusduebbert

[2016-06-03 21:32] jonathanheilmann commented on #25
These line in your setup should do the trick:

setup:

[code]

[2016-06-03 21:33] jonathanheilmann opened #26 "Wrong located typoscript for fluid_styled_content"
Actually the lines

[code]

are located in setup, but should be located in constants.

[2016-06-04 10:26] blueamerican commented on #25
Hi Jonathan,

vielen Dank!

Du kannst den Server auch erstmal weiter nutzen, wenn du magst.

Viele Grüße

Markus Dübbert

 mailto:info@markusduebbert.de info@markusduebbert.de

Ziegelhüttter Weg 46  57627 Hachenburg

Tel: +49 2662 5078103

 http://www.markusduebbert.de/ www.markusduebbert.de

Web Entwicklung, TYPO3

Von: Jonathan Heilmann [mailto:notifications@github.com]
Gesendet: Freitag, 3. Jun

[2016-06-04 12:19] jonathanheilmann opened #27 "Rewrite documentation"
Use new template: https://github.com/TYPO3-Documentation/TYPO3CMS-Example-ExtensionManual

New content
FAQ:
- [ ] Magnific Popup Plugin shows same content on multiple links (Related to #39)

[2016-06-06 15:35] jonathanheilmann opened #28 "Content element fails with bootstrap_grids"
The curled braces are re-rendered by fluid and thus replaced. Cause some JavaScript is missing then, the JS engine runs into an error.

Solution: **Move rendered JavaScript to footer via PageRenderer::class**
Requires a new ViewHelper and re-written Templates/Magnificpopup/Show.html

[2016-06-07 14:24] jonathanheilmann commented on #26
typoscript for EXT:css_styled_content is affected, too

[2016-06-07 14:40] jonathanheilmann opened #29 "Lazyload for images fails for type ajax and inline"

[2016-06-07 15:20] #25 closed, assigned to jonathanheilmann

[2016-06-07 15:20] #26 closed, assigned to jonathanheilmann

[2016-06-07 15:20] #28 closed, assigned to jonathanheilmann

[2016-06-07 15:20] #29 closed, assigned to jonathanheilmann

[2016-06-07 20:29] erredeco commented on #8
@blueamerican I think that the commit  2bda635 (version 6.2 already on TER) solves the title issue

[2016-06-08 12:50] timwendisch opened #31 "Open original Images instead of processed"
I use often lightboxes in that way, that my content-creators can set up an Image on the page and define the output-size for the normal Web-View. But if the visitors click on the image (with Click-Enlarage activate) the "original" big Image shall be open in the lightbox.

Currently always the already processed Image is shown.

If you want to show the "original Image" you have to change the source-p

[2016-06-10 07:07] jonathanheilmann commented on #31
Thanks for these lines.
I'll add this to the documentation in section "How to".

[2016-06-16 18:54] jonathanheilmann opened #32 "eID fails when realurl is enabled"
Solution:
Swap lines 158 and 159 in Core\EidRequest to

[code]

[2016-07-12 13:49] jonathanheilmann opened #33 "Image filter fetch all links"
Related to https://forge.typo3.org/issues/77020

[2016-07-12 14:11] #32 closed, assigned to jonathanheilmann

[2016-07-12 14:11] #33 closed, assigned to jonathanheilmann

[2016-07-16 09:55] jonathanheilmann opened #35 "removalDelay is a ms value"
Stress in Constant Editor and Plugin Flexform, that removalDelay is a ms value.

[2016-08-04 09:38] wenglor-IT opened #37 "No language dependent image file references are used, still the reference from the default language is used"
If you use the link-type "image", it is possible to insert a image file reference (from the FAL).
Here you can also use the image metadata fields "title" and "description" to overwrite the labels. Thats all ok.

But in multilingual sites it's still used the image reference (and title / description) from the default language, that's not correct. If you want define for each language a different imag

[2016-08-09 14:02] jonathanheilmann commented on #37
Thanks for reporting this issue.

I've attached a modified version, which should solve this issue. Could you please test it and leave some feedback?
I found no solution, to display the values of the original file reference. But when translating, the original values are adopted and my be modified.

[jh_magnificpopup_0.6.4-dev_201608091550.zip](https://github.com/jonathanheilmann/ext-jh_magnificpopu

[2016-08-09 14:06] jonathanheilmann opened #38 "Ideas for version 1.0.0"
Ideas:
- Actually, the contend is handled via flexform. Links, images, related content, inline content etc. This is not very handy and thus a potent solution may be, to move all content in a model. This would also enhance translation. The settings may stay in flexform, they are not language dependent.
- Rendering inline content is not easy, when working on multilingual platforms. This my be enhanc

[2016-08-31 14:23] dielf opened #39 "Multiple Instances on one page - content gets mixed up"
We I have multiple instances of magnificpopup on the same page, the lightbox-content gets mixed up - e.g.: Lightbox 1 shows the content of lightbox 3, Lightbox 2 the content of lightbox 1 - somentimes, not always . In the Backend everything is linked correctly.

[2016-08-31 14:54] jonathanheilmann commented on #39
Which TYPO3 CMS and jh_magnificpopup version do you use?
I suggest, you are using the content element plugin? Some information about the plugin configuration may be useful:
- Display type (Link, Inline-Content or Content-Reference?)
- Link type (Text or Image?)
- Method (Ajax or Inline?)

I'd welcome a non working example, if possible.

[2016-08-31 16:03] dielf commented on #39
Hi, thanks for your fast answer,

Yes, I´m using the content element plugin
The Typo3-Version is 7.6.9
The Link Type is Image
The Display Type is Content-Reference (tried inline as well)
The acutal method is inline (tried ajax as well)

Examples:
http://2016.auszeit-hh.de/unsere-zimmer/
This page works correct on some computers and/or browers, on others it doesn´t.
Sometimes in both lightboxes the

[2016-09-01 07:34] wenglor-IT commented on #37
Hello Jonathan Heilmann,

sorry for the late feedback. I was in
holidays last weeks.... now I had time to test your development.

I installed your modified version, but
I get the following php issue:

Fatal error: Call to a member function getRecordOverlay()
on null in /DATA_WEB/www/website/typo3conf/ext/jh_magnificpopup/Classes/Controller/MagnificpopupController.php
on line 83

We use typo3 versi

[2016-09-02 14:03] jonathanheilmann commented on #39
I assume, this is an caching issue. If I modify your html and add `&no_cache=1` to each link, the matching content is opened. (The first link does not work, I used the second.)
Du you use an extension to compress/cache your rendered pages? Maybe the query parameters of jh_magnificpopup are not respected an thus the first opened page is cached and tagged by query parameters id and type only?

[2016-09-02 14:09] jonathanheilmann commented on #37
This is related to an failed @inject of PageRepository. Please try to deactivate and activate the extension again. If this doesn't work, clearing the system cache should solve the issue.

[2016-09-06 12:29] wenglor-IT commented on #37
Hello Jonathan
Heilmann,

i tested the new version again and cleared
all caches (+ PHP opcode cache) with the install tool.
Now it works !!

Thank you for this bugfix !

[code]

Von:      
 Jonathan Heilmann notifications@github.com
An:      
 jonathanheilmann/ext-jh_magnificpopup
ext-jh_magnificpopup@noreply.github.com
Kopie:      
 wenglor-IT florian.frick@wenglor.com,
Author author@noreply.gith

[2016-09-07 15:37] dielf commented on #39
Yes, it seems to be a caching issue.
I don´t use any extension for caching - it works when I set config {no_cache = true  ...} in TS.

[2016-09-07 15:55] jonathanheilmann commented on #37
Thanks for feedback!

I'll push the updated extension to TER within the next few days.

[2016-09-07 16:06] jonathanheilmann commented on #39
To just exclude the content in Magnific Popup from caching, you may add this line to your TypoScript setup:

[code]

I've never had this issue before and thus I'm a little bit unconfident on how to act due to this.
I'll watch this issue, maybe you'll gain some more information or someone else has a hint on this.

[2016-09-09 06:19] dielf commented on #39
This seems to work for me -tested it on the sites mentioned above. I will also test the plugin on some other sites with different Typo3 Versions and post my experiences here.

[2016-09-10 10:05] #35 closed, assigned to jonathanheilmann

[2016-09-10 10:06] jonathanheilmann commented on #37
I've pushed version 0.6.4 to TER

[2016-09-10 10:06] #37 closed, assigned to jonathanheilmann

[2016-09-12 09:18] blueamerican opened #41 "not able to change template path or inline js"
i'm running typo3 7.6.10 and jh_magnificpopup 0.6.4

i'm not able to change sucessfully the template root path. plugin.tx_jhmagnificpopup.view.templateRootPath

also i'm not able to remove the inline js generated by the extension.
i tried everythin but not successfully

this is really strange..

best regards Markus

[2016-09-12 10:06] Gorli opened #42 ""View raw" link under image"
Hello,

do you think it is possible (Sometime) to add the following option to your extension (as option)?

I have added it in the "Default.html" and tested.

Thank you very much

Goarli

[code]

[code]

Adds "view original image" link to caption that just opens image via default browser method.
http://codepen.io/dimsemenov/pen/qGIlh

[2016-09-12 10:21] blueamerican commented on #41
sorry i found the reason

[2016-09-12 10:21] #41 closed, assigned to nobody

[2016-09-18 16:10] jonathanheilmann commented on #42
I think I'm not going to add this as option to the original template, as there are many possible options and it would blows up the default template.

An option could be to add some complete/working example templates, extending the [how to section in documentation](https://docs.typo3.org/typo3cms/extensions/jh_magnificpopup/HowTo/Index.html).

[2016-10-11 18:05] Milliw opened #43 "Does not work. Images still open in new window"
Hi!

Can´t get this extension to work in TYPO3 6.2.27.
Don´t get any JS errors.

Think it´s because image enlarge links in picture CE´s are like:
`<a target="thePicture" onclick="openPic('index.php?eID=tx_cms_showpic&amp;file=209&amp;md5=5705060e998318a81c320ab4b725ae876b584827&amp;parameters%5B0%5D=YTo0OntzOjU6IndpZHRoIjtzOjQ6IjEyMDAiO3M6NjoiaGVpZ2h0IjtzOjQ6IjYw&amp;parameters%5B1%5D=MG0iO3M6Nzoi

[2016-10-11 18:29] Milliw commented on #43
Solved it.

Like noticed on [https://jweiland.net/video-anleitungen/typo3/interessante-typo3-extensions/jh-magnificpopup.html](the jweiland tutorial video page) it´s also for TYPO3 Versions 6.2.?? necessary to enable "Lightbox click-enlarge rendering" in content constants.

Maybe this should be mentioned in the documentation.
Greetings

[2016-10-19 13:18] e-LUNATIC opened #44 "Mixed Contet error"
Hi. My main page is reachable over "https" and the external lightbox link is normal "http" to a subdomain.
Then the following error appears:
This request has been blocked; the content must be served over HTTPS.

[2016-11-11 18:39] jonathanheilmann commented on #44
Sorry for delay.
This is a security error thrown by your browser and not related to the extension. The only reasonable solution is, to fetch the external page via https.

[2016-11-15 16:06] wenglor-IT opened #45 "In Inline-Content with option "closeBtnInside=True" the Close Button is NOT working with EDGE"
In the following context, the "Close"-button isn't working:

- Display typ: "Inline Content"
- Link typ : "Text"
- Method: "Inline"
- Magnific Popup -> closeBrnInside : true

In this constellation, the "X" (and ESC) isn't working with EDGE Browser. Only the click on background triggers the close of the popup.
We are using Version 0.6.4  (T3 6.2.x)

[2016-11-16 08:32] wenglor-IT opened #46 "In Inline-Content with option "closeBtnInside=True" the Close Button is displayed twice "Inside" + "Outside""
In the following context, the "Close"-button is displayed twice "Inside" + "Outside":
•Display typ: "Inline Content"
•Link typ : "Text"
•Method: "Ajax"   <-------- !!!
•Magnific Popup -> closeBrnInside : true

We are using Version 0.6.4 (T3 6.2.x)

[2016-11-16 08:58] jonathanheilmann commented on #45
Do you have a non working example?

[2016-11-16 08:58] jonathanheilmann commented on #46
Do you have a non working example for this issue, too?

[2016-11-16 09:25] wenglor-IT commented on #46
I created a hidden page:
https://www.wenglor.com/index.php?id=1177&L=1

[2016-11-16 09:25] wenglor-IT commented on #45
https://www.wenglor.com/index.php?id=1177&L=1

[2016-11-16 11:24] jonathanheilmann commented on #45
This is an issue in chrome, too and is related to this ["bug"](https://github.com/dimsemenov/Magnific-Popup/issues/278), resolved in this [PR](https://github.com/dimsemenov/Magnific-Popup/pull/437), but sadly not merged in mfp yet.

But there is a workaround:
In Constant Editor set **closeMarkup** (plugin.tx_jhmagnificpopup.type.ajax.closeMarkup) to
`<button title="%title%" class="mfp-close"><i cl

[2016-11-16 11:31] jonathanheilmann commented on #46
Is this issue related to a special browser? Because I'm seeing the button just once (tested in Edge and Chrome):
![www wenglor com-index php-id 1177 l 1](https://cloud.githubusercontent.com/assets/2504896/20345673/8d543e08-abf8-11e6-9848-6d4fce5ad52c.png)

[2016-11-16 11:53] wenglor-IT commented on #46
![image](https://cloud.githubusercontent.com/assets/20818559/20346272/7940e314-abfb-11e6-86a2-5f2c87f816c1.png)

We have the problem with InternetExplorer and EDGE.
There is no problem with Chrome and Firefox..

[2016-11-16 14:18] wenglor-IT commented on #39
We have the same caching issue.
To set the parameter ajaxcontent.config.no_cache = 1   resolved this caching issue.

But on our multilanguage site, the displayed Ajax content in the popup is in default language (englisch) each time..... the language of the content isn't correct !!!

Is there a solution?

[2016-11-18 14:13] jonathanheilmann commented on #39
Again, do you have a non working example? As I'm not able to reproduce this error, I'll require a non working instance. Guessing the reason is sometimes really hard ;)

[2016-11-18 14:28] jonathanheilmann commented on #46
Sorry, I cannot see the second icon neither in Internet Explorer 11.0.36 nor in Edge 25
Maybe you could provide the rendered html as attachment?

[2016-11-21 07:23] wenglor-IT commented on #39
Here the example:
https://www.wenglor.com/index.php?id=1176&L=1
![image](https://cloud.githubusercontent.com/assets/20818559/20473755/0c632f6a-afc3-11e6-854f-467c6b34ec90.png)
If you click one of the "video pictures", the popup is loading the each content with "ajax"method.
With the parameter "ajaxcontent.config.no_cache = 1"  the content is correct (no mixing), but the content is NOT in the right

[2016-11-21 07:56] wenglor-IT commented on #46
![image](https://cloud.githubusercontent.com/assets/20818559/20474672/fb29ceac-afc7-11e6-883e-50dc5ee6c1eb.png)

Here the html as initial loaded
[Seite1176_Quelltext.html.txt](https://github.com/jonathanheilmann/ext-jh_magnificpopup/files/602950/Seite1176_Quelltext.html.txt)

Here the html from the DOM Explorer, with popup in front:
[Seite1176_DOM_Explorer.html.txt](https://github.com/jonathanheil

[2016-11-23 15:47] jonathanheilmann commented on #46
That's really strange and I would suggest an IE/EDGE bug.
A link tag must not contain any data and is an empty element. There is no code in this extension and Magnific Popup adding any content in a link tag.
I'm sorry, I've no idea on how to fix this :/

[2016-11-23 15:53] jonathanheilmann commented on #39
That's a bug I'm going to fix.
As I've no time left within the next days I'm going to try to provide a fix on Sunday.

[2016-12-12 07:12] wenglor-IT commented on #39
Hello,
can you estimate until when you can fix the bug?

[2016-12-12 18:55] jonathanheilmann commented on #39
Sorry, I've missed to have a look at this issue.

After digging around in code, I'm not able to finde a bug, but an expected behavior like yours:
If you do not set Field "Transl.Orig" in your references, the default language is displayed only.
![bildschirmfoto 2016-12-12 um 19 51 59](https://cloud.githubusercontent.com/assets/2504896/21112105/bd392578-c0a4-11e6-971c-8e78953d7a06.png)
If you select

[2016-12-19 10:04] wenglor-IT commented on #39
Hello, we checked the records.
Only the plugin itself was correctly localized. The sub-records in the plugin (text with image, etc.) were not created correctly.
The sub-records were created as a copy, but also in the default language without reference to the original record.
There is a bug with the localization in backend (creating localized sub-records) in your plugin (maybe only with T3 6.2.x ?)

[2017-01-10 09:31] angeloprevitali opened #47 "Add compatibility to TYPO3 CMS version 8.5 and higher"
Hello

can you fix the compatibility of the EXT:jh_magnificpopup with the actual TYPO3 CMS version 8.5 and higher?

That would be great.

Thank you very much.

Regards,
Angelo

[2017-01-10 20:43] jonathanheilmann commented on #39
Sorry for delay, I've been on vacation.

It's good, that manual correction works, but this shouldn't be the default way.
I'm going to dig deeper into the code and what happens on translation

[2017-01-10 20:46] jonathanheilmann commented on #47
I have not done any tests with jh_magnificpopup within TYPO3 CMS version 8.5. Did you do some tests or maybe someone else?
There is a fork by @tollwerk, adding compatibility. Maybe @jkphl could leave some feedback?

[2017-01-10 21:01] jkphl commented on #47
@angeloprevitali @jonathanheilmann Well, we did nothing but [remove the version limit to `<7.6.99` from `composer.json`](https://github.com/tollwerk/ext-jh_magnificpopup/commit/57ebacf20d5f3044f2623630e1b453b2c858ef1f) and don't experience any problems so far (with the most recent 8.5.1). However, we don't have any fancy setup, just using plain default, so the devil might well be in the details.

[2017-01-15 14:40] jonathanheilmann commented on #47
Thanks for your feedback!

@angeloprevitali Would you like to test the fork? I would appreciate some help and feedback, as I'm highly involved in some other projects and it would take some to do own tests.

[2017-01-30 14:12] CDRO commented on #43
@MarcoWilli you just saved my day :D

[2017-02-11 13:17] pixelbreit opened #48 "html tag error when using inline content"
Hi, when i use the inline type for content elements i get an additional opening and closing html tag inside my sourcecode.
It looks something like this:

[code]

how can i get rid of this additional html tags?
I am using jh_magnificpopup 0.6.4 with TYPO3 CMS 7.6.13

[2017-02-13 15:03] pixelbreit commented on #48
Ok, i got it.
If I replace the leading and ending html tags in the /jh_magnificpopup/Resources/Private/Partials/Magnificpopup directory with span, my source code is much better.
It now looks like this:
[code]
`
Not perfect, but ok for me.

[2017-02-13 18:22] jonathanheilmann commented on #48
Thanks for reporting this issue.

As you said, your solution works but is not perfekt.
I'm going to reopen this issue and apply a bugfix for the next version.

[2017-03-03 17:10] bechtlepri opened #49 "TYPO3 7.6.15 TS-Setup Changes"
Hey there,

I just had an issue where after an upgrade from TYPO3 LTS 6 to TYPO3 LTS 7 the jh_magnificpopup stopped working. Thought I write about here so you can check it out or maybe it helps some soul that's been stuck like me.

**As a side note:**
Weirdly enough EXT:news-FAL-elements were fine (beautiful lightbox showed up) but for normal CE and IRRE in EXT:news there was only openPic.

## I u

[2017-04-05 05:00] kevinlieser commented on #49
Thanks, got it running now.

[2017-04-18 09:35] erredeco commented on #47
I have performed a test with TYPO3 8.7.0 and the most recent jh_magnificpopup (0.6.4)
- click-enlarge on images seem to work (not tested the gallery, yet: just the default functionality)
- when I tried to add a plugin MP for content in the page, the following errors occurred:
1) the icon in wizard was broken
2) after clicking:

[2017-04-18 10:33] angeloprevitali commented on #47
@jonathanheilmann We tested the EXT:jh_magnificpopup on a actual 8.7.0 and everything works fine. There are still some little thing that has to be fixed in jh_magnificpopup like the icon as describe above. And also there is a workaround to fix images with FSC. We used it to work with this additional line in TS setup:

`lib.contentElement.settings.media.popup.linkParams.ATagParams.dataWrap = class=

[2017-04-18 10:46] erredeco commented on #47
@angeloprevitali  I did not add the line you cited and everything worked out of the box AFAICS.
I just added the constant `styles.content.textmedia.linkWrap.lightboxEnabled = 1` via constant editor

[2017-04-19 13:50] #44 closed, assigned to nobody

[2017-05-09 10:50] erredeco commented on #47
I've found the source of the problem with the plugin: it is inside the flexform file:
[code]
I think that the `<displayCond>FIELD:settings.contenttype:!=:iframe</displayCond>` never worked, but silently failed until TYPO3 7.6.x; from version 8 it  breaks.

[2017-05-09 11:24] karinakern commented on #47
I got the extension running on TYPO3 8.7.1 with the help of @erredeco by removing settings.mfpOption.focus in the flexform like mentioned above and also replacing all array_merge() calls in the controller by using a simple addition instead, like mentioned [here](https://docs.typo3.org/typo3cms/extensions/core/Changelog/8.0/Breaking-72342-RemovedDeprecatedCodeFromGeneralUtility.html?highlight=array

[2017-05-09 18:46] jonathanheilmann commented on #47
Thanks for your feedback!
I'm going to do some work this weekend. Maybe there is an official release available in TER on sunday afternoon. Otherwise I'm going to mark and upload a beta version here on github.

[2017-05-10 13:42] karinakern commented on #47
Great, thank you! :)

I also added the output of the alt text and title for images linking to an iframe as I needed it for SEO reasons.

`$imageConf['altText'] = $file->getProperty('alternative');
$imageConf['titleText'] = $file->getProperty('title');`
(Added in row 326 in Partials/Magnificpopup/Iframe.html)

Maybe you wanna consider implementing that too...

[2017-05-14 12:22] jonathanheilmann commented on #47
There is still some work to do, but I've finished a first working version.
Issues still not resolved:
- Does not work with fluid_styled_content (did it work bevor?)
- RTE links are still failing
- New version has not been tested within TYPO3 CMS 7 LTS

@karinakern I've added your suggestion as it's good for SEO and doesn't break anything available in version 0.6.4

I'd like to ask you to du some t

[2017-05-14 15:30] erredeco commented on #47
I am testing v 0.7.0-dev on TYPO3 8.7.1 - the image popup seems to work just adding the constant:
`styles.content.textmedia.linkWrap.lightboxEnabled = 1`
About the other options
-  I have not tested RTE links as CKEditor does not allow to add images
- About jh_magnificpopup for content I have some questions and observations:
1) Display type: inline content
1.1) Q: What's the difference between "Me

[2017-05-15 05:34] jonathanheilmann commented on #47
Thanks for your feedback. I've updated 0.7.0-dev fixing some things.

1.1 & 2.1:
The difference is the way the content in MagnificPopup is loaded: Method "inline" adds the content as hidden content to your main-page. Thus it's loaded instantly. But if there is much content and/or it's not often opened by visitors, it's an overload.
In this case it's recommended to use Method "ajax" sending a new r

[2017-05-15 06:57] karinakern commented on #47
I tested the latest version you uploaded on my TYPO3 8.7.1 setting and so far it works fine for me.

What exactly do you mean by "Does not work with fluid_styled_content"? I'm using fluid_styled_content and did not experience any errors so far.

As far as I remember RTE links used to work by selecting the special class for magnific popup, right? Is that what's still missing/not working with fluid?

[2017-05-15 15:05] jonathanheilmann commented on #47
Actually I'm testing the new version within three setups:
1. TYPO3 8.7.1 with introduction package and css_styled_content
2. TYPO3 8.7.1 with introduction package and fluid_styled_content
3. TYPO3 8.7.1 with raw fluid_styled_content just creating a simple page without any styles

The first one works great, the other two are failing when rendering inline or ajax content.
`inline` renders the conten

[2017-05-23 04:33] Ulfried commented on #47
Hi Jonathan,

fluid_styled_content comes with the CE 'Image' again, and it uses a different wrapper class than the CEs textpic / textmedia. Could you add `.ce-image` to the default selectors in /Configuration/TypoScript/Default/setup.txt (in line 54) please:
`                1.value = .csc-textpic-imagewrap,.ce-textpic,.ce-image`

Best,
Ulfried

[2017-06-28 11:32] kboss opened #50 "Compatibility to bootstrap_package > 7 lost"
As EXT:bootstrap_package contains since version 7.0.0 PhotoSwipe as lightbox the compatibility ist lost and the TypoSript constant `plugin.tx_jhmagnificpopup.magnificpopup.support.tx_bootstrappackage = 1` is not working as expected anymore because "the content rendering definitions have completly changed and are now streamlined to use only FluidTemplates".

[2017-06-29 02:20] kboss commented on #50
To regain compatibility one has to:

1. Set the constant `plugin.tx_jhmagnificpopup.magnificpopup.support.tx_bootstrappackage = 0` (disables the selection of "old" wrapper classes).
2. Clear out the JavaScript for bootstrap_package's lightbox:
[code]
3. Set the correcht lightbox constants for jh_magnificpopup.
[code]
3. Modify bootstrap_package's content element partial `Gallery.html` to introduce

[2017-07-11 18:47] Batman777 commented on #43
Hi Marco,

it looks as if I do have the same problem. Typo3 6.2.31.
Version 0.6.1 is alright. When updating to 0.6.4 it doesn't work any more.

styles.content.textmedia.linkWrap.lightboxEnabled = 1
in TS Constants does not help either :-( .. Do you have any idea?
I have the html files before and after updating. But I can't find the error.

P.S. Images in "news" Extension work !!

P.P.S.
After upda

[2017-07-11 20:03] Batman777 commented on #43
Oh maan .. now I got it!

styles.content.textmedia.linkWrap.lightboxEnabled = 1
=> Wrong

styles.content.imgtext.linkWrap.lightboxEnabled = 1
=> Right

:-)

Now it works .... soooo where is my next problem :-/ .. newsletter .......

[2017-08-07 09:44] Anubiso commented on #47
Any updates?

[2017-09-11 12:30] christophlehmann commented on #47
We use it together with CKEditor. Since 8.7.5 it breaks the CKEditor: Text styles get lost on saving. I identified the lines https://github.com/jonathanheilmann/ext-jh_magnificpopup/blob/master/ext_localconf.php#L43 to https://github.com/jonathanheilmann/ext-jh_magnificpopup/blob/master/ext_localconf.php#L47 are breaking it. (Later in that file again in "alpha features")

I suggest not to load the

[2017-09-16 11:28] finswimmer opened #52 "Typo3 v8 LTS supported?"
Hello,

it seems that this extension is not supported by the current LTS Release (8.7.6). Are there any plans for it?

fin swimmer

[2017-09-25 05:13] jonathanheilmann commented on #52
Hi,

there are plans, but still some issues.
I'm going to close this as an duplicate of #47

Jonathan

[2017-09-25 05:13] #52 closed, assigned to nobody

[2017-10-21 14:16] yepgit opened #53 "Alt and title attribute not displayed"
Alt and title attribute not displayed in html code for the link picture

example with empty alt attribute, although it is filled in backend:
[code]

[2017-10-25 16:44] jonathanheilmann commented on #47
It's been a while since I've updated this issue; now, there are some good news and a bad one:

I've managed to solve the missing content bug for EXT:bootstrap_package, I'm going to clean up the code, merge some pull requests and solve as much issues as possible within the next days.

The bad news:
The bugfix requires a breaking change within the templates and I'm going to break some other things.

[2017-10-25 18:33] erredeco commented on #47
I don't see the breaking change on templating as a "bad" news (or at least not so bad) as long as the change is clearly documented and the update steps are detailed in manual (fool-proof)
I'm impatient to see the new version :)

[2017-10-26 14:54] jonathanheilmann commented on #48
Could be solved by https://wiki.typo3.org/TYPO3.CMS/Releases/7.3/Feature#Feature_-_.2366269:_Fluid:_Remove_ViewHelper_xmlns-attributes_and_specified_html_tag
This is done within the new version 1.0.0 I'm going to release in a few days.

[2017-10-26 15:00] jonathanheilmann commented on #49
I'm not able to finde anything creating a `default` node in `tt_content.image.20`. Neither in EXT:bootstrap_package, nor EXT:fluid_styled_content nor EXT:css_styled_content.
Do you use any extension modifying `tt_content.image.20`?

[2017-11-08 14:24] bechtlepri commented on #49
@jonathanheilmann
I searched the full template (template analysis).
I found something coming from EXT:imagecycle (which this site uses).
Could be the culprit here.

EXT:imagecycle/static/tt_content/
[code]
I will add that crucial information to the original issue, if you want.
The site is using EXT:imagecycle version 3.0.1

But why does adding a ".default" make a difference for EXT:jh_magnificpopu

[2018-02-18 20:30] gillima opened #54 "Filter skips images when JumpURL enabled"
When activating JumpURL using `config.jumpurl_enabled=1` the links are skipped by the extension filter.
Here is an example of a JumpURL image link:
[code]

[2018-05-08 09:43] jonathanheilmann commented on #54
Thats the intended functionality of the filter, as Magnific Popup is not able to show images from jumpurls in a lightbox.
To use the lightbox you need to disable jumpurls.

[2018-05-08 09:53] #50 closed, assigned to jonathanheilmann

[2018-05-08 09:53] #31 closed, assigned to jonathanheilmann

[2018-05-08 09:53] #42 closed, assigned to nobody

[2018-05-08 09:59] jonathanheilmann commented on #48
Resolved in version 1.0.0 uploaded just now. Sorry for this delay :/

[2018-05-08 09:59] #48 closed, assigned to nobody

[2018-05-08 10:00] jonathanheilmann commented on #53
This is resolved in version 1.0.0 uploaded just now.

[2018-05-08 10:00] #53 closed, assigned to nobody

[2018-05-08 10:01] jonathanheilmann commented on #47
Finally I've uploaded version 1.0.0 just now 🎉
Feel free to report bugs, questions and feature requests!

[2018-05-08 10:01] #47 closed, assigned to jonathanheilmann

[2018-05-08 10:07] jonathanheilmann commented on #49
Sorry for my delayed reply.

This is related to the combination of those two extensions.
EXT:jh_magnficipopup uses the default TYPO3 configuration, but  EXT:imagecycle modifies them and moves the `.1` configuration to `.default`.

The only solution is to manually add your setup
[code]
I'll add this to the documentation within the next release.

[2018-05-08 10:07] #49 closed, assigned to nobody

[2018-05-08 11:33] gillima commented on #54
I did a workaround by using my own filter function which strips everything after '&' from the file extension before i check for know file types. With this modification the popup works perfectly even with jumpurl enabled:

[code]

[2018-05-08 14:12] erredeco opened #56 "[BUG] plugin magnificpopup for content - Inline and content-reference partial not found"
TYPO3: 8.7.13
Magnificpopup: 1.0.0

Using "link" it works, while using "inline" or "content-reference" it throws an error:

[code]
I am not using custom partials for the plugin,I have just installed it.

[2018-05-08 19:15] jonathanheilmann commented on #56
This error occurs, if the plugin configuration is not complete. In this case, the method (ajax or inline) has not been selected.
I've attached an updated extension version, catching this error.
Could you please give it a try and leave me some feedback?

[jh_magnificpopup_1.0.1-dev_201805082134.zip](https://github.com/jonathanheilmann/ext-jh_magnificpopup/files/1985389/jh_magnificpopup_1.0.1-dev_20

[2018-05-08 19:35] jonathanheilmann commented on #54
I'll add this to documentation's section `how to` as jumpURL is deprecated.

[2018-05-08 21:52] erredeco commented on #56
yeah now I have understood my mistake. The patch works fine.

Suggestion wouldn't it be better to remove the "select" null option and just use the other two? for example using two radio buttons; I mean the empty option is useless, right? you either must have "ajax" or "inline"

[2018-05-09 07:37] jonathanheilmann commented on #56
Thats a great idea I'm going to implement.

[2018-06-18 13:37] TrueType commented on #56
So what now? Everyone installing 1.0 runs into this bug? I cannot see, where my plugin configuration is incomplete. And I cannot see the changes you made to fix it? What about this zip file in a composer world, but no commit on Github. No hotfix version on TER, either.

[2018-06-18 14:04] TrueType commented on #46
You may close this ticket(s) I guess. Multiple close buttons may have come from the non-working disableAllHeaderCode=1 in inline/setup.txt (config key was missing). This resulted in a full page coming with the AJAX call which then was misinterpreted by $() => multiple nodes. Close buttons then showed up many times in e.g. the `<base>` tag and else.

[2018-06-19 04:33] jonathanheilmann commented on #56
Keep calm and friendly. I'm doing this in my free time and it's rare, as there is nearly no one who want's to sponsor development, this extension is not on first position of my todo list.

I've pushed the changes to branch v1.0.1 and will release the new fersion in a few days.

[2018-06-21 09:39] jonathanheilmann commented on #43
This issue should be resolved, if it's still there, please open a new issue.

[2018-06-21 09:39] #43 closed, assigned to nobody

[2018-06-22 05:57] jonathanheilmann opened #58 "Title in Magnific Popup with EXT:fluid_styled_content"
How to is not available in documentation (see https://github.com/jonathanheilmann/ext-jh_magnificpopup/commit/2bda63588297a7909313a5eef944d5a0b84c0669)

[2018-06-23 15:03] jonathanheilmann commented on #46
@TrueType this could be the cause of the trouble, and thus should be resolved since commit on May 14, 2017 (https://github.com/jonathanheilmann/ext-jh_magnificpopup/commit/dc1e60f81b17ea1636a26f0d24431016cbb30b28#diff-2b8cc182102235392afd86708d40b766)
Thank you very much!

If this is still an issue, please open a new github issue.

[2018-06-23 15:03] #46 closed, assigned to nobody

[2018-06-24 07:08] #45 closed, assigned to jonathanheilmann

[2018-06-24 07:08] #54 closed, assigned to jonathanheilmann

[2018-06-24 07:08] #58 closed, assigned to jonathanheilmann

[2018-07-03 09:08] MySpace17 opened #60 "[BUG] The id of an content element will be used mutiple times"
My Javascript didn't work anymore cause of using the id attribute with the same value multiple times.

If an content element is included as "normal content" and also as "inline content for magnific popup" on the same page the parsed site has the id of the original content element multiple times.

I am pretty sure that this is also an effect on all other magnific popup types.

Solution:
Don't use t

[2018-07-03 19:06] jonathanheilmann commented on #60
ough, this is ugly and not solved by fluid_styled_content element "shortcut", too. (Create a random content element, create a special content element "shortcut" and link to element created before. The Shortcut element uses the same id for the original and linked content element.)

Actually I've no idea on how to solve this.

[2018-07-07 06:17] EdMueller opened #61 "Link for the <figcaption>"
Inside the file

a link is created for the image:
[code]
But i need that link for the "figcaption", too. Is that possible? Or around the complete "figure" tag?

[2018-07-07 20:21] jonathanheilmann commented on #56
Version 1.0.1 has been uploaded a few days ago to TER and resolves this issue.

[2018-07-07 20:21] #56 closed, assigned to jonathanheilmann

[2018-07-07 20:37] jonathanheilmann commented on #61
Actually version 1.0.x does not support this.

But as it's a eligible suggestion, I've added this to next version 1.2.0.

Actually this version is under development within branch [https://github.com/jonathanheilmann/ext-jh_magnificpopup/tree/v1.1.0](v1.1.0), extension as zip: [jh_magnificpopup_1.1.0-dev_201807072235.zip](https://github.com/jonathanheilmann/ext-jh_magnificpopup/files/2173071/jh_mag

[2018-07-10 09:12] EdMueller commented on #61
Oh, thank you for the quick answer. I tried to fix that in version 1.0.1 with javascript
[code]
and it works :-). BUT: After closing the popup, the viewport jumps to the top of the page. Could i prevent this behavior? Could i send you a pm with live example?

[2018-07-13 04:22] jonathanheilmann commented on #61
I'd recommend a native solution as provided in version 1.1.0-dev.
But you can send me a link to mail@jonathan-heilmann.de and I'll have a look at your example.

[2018-10-18 04:34] jonathanheilmann opened #62 "Support TYPO3 9 LTS"
- [x] Requires to drop TYPO3 7 LTS support
- [x] Drop css_styled_content support
- [x] Update ViewHelpers to use namespace TYPO3Fluid\...
- [x] Migrate from TYPO3_DB
- [x] Mark eID as deprecated
- [x] Use `renderStatic()` instead of `render()` in ViewHelpers
- [x] Re-write plugin and introduce a compatibility mode to  stay compatible to templates/partials from extension version 1.x
- [x] Use jh-st

[2018-11-22 20:28] jonathanheilmann commented on #61
Resolved within version 1.1.0

[2018-11-22 20:28] #61 closed, assigned to jonathanheilmann

[2018-12-01 14:17] jonathanheilmann opened #63 "Remove eID"
eID is marked as deprecated within version 2.0.0 and should be removed in version 3.0.0.

Rendering content via TypoScript using a custom page typeNum is much more faster and comfortable.

[2018-12-04 15:52] psingler opened #64 "Compatibility issue with Minifier for TYPO3"
If the Minifier for TYPO3 (min) extension is active is not possible to have multiple Magnific Popup elements on the same page as there is a problem with a disappearing semicolon. Specifically the semicolon at the end of the magnificPopup()-Function (see: https://github.com/jonathanheilmann/ext-jh_magnificpopup/blob/master/Resources/Private/Partials/Magnificpopup/Inline.html).

[2018-12-09 09:58] jonathanheilmann commented on #64
Which TYPO3 CMS version and extension version do you use?

[2018-12-10 13:01] psingler commented on #64
TYPO3 CMS: 7.6.23
jh_magnificpopup: 1.0.1
min: 1.6.0

[2018-12-10 19:49] jonathanheilmann commented on #64
Looks like it's an EXT:min bug: https://forge.typo3.org/issues/81785

[2019-01-02 10:27] #64 closed, assigned to nobody

[2019-02-24 13:56] cmichael-de opened #65 "Add imageuid in MagnificpopupController.php to template var"
In MagnificpopupController.php I added manually (and not update safe) a template var inside the renderLinktypeFile.

`$viewAssign['imageuid'] = $file->getProperty('uid')`

I use this uid to implement the inline frontend editing for image description inside the template:

`            <core:contentEditable table="sys_file_reference" field="description" uid="{imageuid}">

[2019-02-24 14:01] cmichael-de commented on #65
Is it possible for you to put it this var in the controller?

[2019-02-28 19:55] jonathanheilmann commented on #65
Which TYPO3 version and extension version do you use?

I started working on version 2.0.0 of this extension, but struggled on finding users willing to test it, since there are going to be some [breaking changes](https://github.com/jonathanheilmann/ext-jh_magnificpopup/blob/v2.0.0/Documentation/BreakingChanges/Version2000000/Index.rst).

I'd like to ask you to test [version 2.0.0-alpha.1](https://g

[2019-02-28 20:02] cmichael-de commented on #65
I'am using TYPO3 8.7.22 and  jh_magnificpopup 1.0.1. Here you can see it in action http://gsaitypo3.de.w0157f62.kasserver.com/projekte/ . If this is running with your 2.0.0 I can do the testing.

[2019-02-28 20:34] jonathanheilmann commented on #65
Thanks. There will be an issue with version 2.0.0-alpha.1 in your case, thus I'm going to do some more work and update this issue when it's done.

[2019-02-28 20:40] cmichael-de commented on #65
Sounds good! I can test it tomorrow evening.

[2019-02-28 21:12] jonathanheilmann commented on #65
I've updated the extension and release [version 2.0.0-alpha.2](https://github.com/jonathanheilmann/ext-jh_magnificpopup/releases/tag/2.0.0-alpha.2).
It would be great if you could do some tests. If something fails after updating it would be interesting if it's working again if you enable the compatibility Mode.

[2019-04-09 12:01] Tim-Obert commented on #62
Any plans on releasing a new version compatible with 9 LTS? The tasks seem to be finished...

Regards

[2019-04-09 17:10] jonathanheilmann commented on #62
There is an actual alpha https://github.com/jonathanheilmann/ext-jh_magnificpopup/releases/tag/2.0.0-alpha.2 but sadly not enough feedback for a final release.
It would be great if you could test the actual alpha and give some feedback about the used features and if there are any bugs. I do not expect any compatibility issues other than described here: https://github.com/jonathanheilmann/ext-jh_ma

[2019-05-26 19:16] jonathanheilmann opened #66 "fluid_styled_content: Add title to image link"
see: http://typo3.3.n7.nabble.com/Lightbox-fur-Fluid-Styled-Content-tp282035p288459.html

[2019-07-01 09:53] SiMackL opened #67 "No left arrow in gallery mode"
In Firebug I can see left arrow button but no button visible or clickable

[2019-08-15 13:01] Tim-Obert commented on #62
I tested the alpha and for me there are no problems but I only used the lightbox function for normal content

[2019-08-21 06:24] contechno commented on #62
Hey Jonathan! I´ve tested the 2.0.0-alpha.2 Version with Typo3 9.5.8. Unfortunately, the Lightbox isn´t working. Additionally, I get the following error message when adding new content elements with images:
`Class 'JonathanHeilmann\JhMagnificpopup\Hooks\UpdateColPosHook' not found`

[2019-08-21 13:14] jonnsn commented on #62
@jonathanheilmann alpha 2 is working well for me too with 9.5.8. I used it with regular image content elements and also for images rendered by a custom Extension inside a slider.

@contechno : did you rebuild PHP Autoload Information in the install tool or _composer dump-autoload_?

[2019-08-21 19:32] contechno commented on #62
@jonnsn I did it via the install tool.
EDIT2: Now I figured out where the bug is: When normally adding an image-containing element, everything works fine. But when the image is added via the news-extension (tx_news) in a news-article, it doesn´t get the necessary class!

[2019-08-26 10:14] hweckhardt commented on #62
I installed the extension as Plugin and tried to use it for displaying a video in the lightbox. I receive the following error message:

Core: Exception handler (WEB): Uncaught TYPO3 Exception: Undeclared arguments passed to ViewHelper JonathanHeilmann\JhMagnificpopup\ViewHelpers\PageRenderer\AddJsInlineCodeViewHelper: name, addToFooter. Valid arguments are: | TYPO3Fluid\Fluid\Core\ViewHelper\Excep

[2020-07-01 14:35] instruccionesaldorso opened #69 "Support TYPO3 10 LTS"
Is TYPO3 v10 compatibility planned for this extension?
We'd love to keep using it over our updated instances!
We were using `dev-master` branch for 9.5 successfully.

[2020-08-20 10:46] emhmf commented on #69
An Update for TYPO3 V10.x would be great.
Please help us to use this Extension in newer versions.

[2020-11-10 10:37] msollmann commented on #69
Yes, would be great!

[2021-04-08 13:26] sabbelasichon commented on #69
I have created a version for TYPO3 10. https://github.com/sabbelasichon/ext-jh_magnificpopup/tree/2.x.
In case someone is interested.

[2021-04-13 07:10] emhmf commented on #69
Wow, thank you very much!
This Version works great on Version 10.

[2021-08-05 13:35] jimit-net2typo commented on #69
Thanks sabbelasichon  !!!!

It works perfectly in TYPO3 v10.4.18

[2021-11-03 09:44] instruccionesaldorso commented on #66
I can't open the link over this issue, but I guess this is related to this issue:

This line:
https://github.com/jonathanheilmann/ext-jh_magnificpopup/blob/master/Configuration/TypoScript/Default/setup.txt#L137
should be using "lib.contentElement" instead of "lib.fluidContent" object, as EXT:fluid_styled_content is using the first object. See here:
https://github.com/TYPO3/typo3/blob/10.4/typo3/sy